{% extends 'lims/base_ui.html' %}
{% block title %}员工入职时间维护{% endblock %}
{% block content %}

<form method="post" style="width:500px">
    <input name="files" id="fileUpload" type="file" />
</form>
<div id="gridContainer"></div>
<div id="joindate"></div>


<script>
    $('#fileUpload').kendoUpload(
            {
                multiple: false,
                async: {
                    'saveUrl': '/lims/handlehrjoindate',
                    'autoUpload': false,
                    'batch': true 
                },
                localization: {
                    select: "导入文件进行处理",
                    uploadSelectedFiles: "确定导入",
                    uploadSuccess: "导入成功",
                    statusUploaded: "导入完成",
                    statusUploading:"导入中",
                    dropFilesHere: "将文件拖到此处导入",
                    headerStatusUploading:"处理中，请耐心等候",
                    headerStatusUploaded:"导入完成",
                },
                validation: {
                    allowedExtensions: ['CSV', 'XLS', 'XLSX'],
                },
                success: function (e) {
                    console.log(e.response.data)
                    $('#gridContainer').empty()
                    $('#joindate').empty()
                    generateGrid('gridContainer',e.response.data,e.response.columns)
                    alert('更新完毕，请检查更新结果！')                   

                },
                select: cleartable,
                complete: function (e) {
                  this.clearAllFiles();
                  console.log('complete event.');
                  console.log(e)
                
                                    
                },
            }
      ); 
      function cleartable(e){
        // alert('hhe')
        var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");
        if (spreadsheet) {
        // 刷新电子表格以更新显示
        spreadsheet.activeSheet().range(1,1,1000,1000).value('')
        spreadsheet.refresh();
        } 
      }
      function generateGrid(gridId,data,columns)
      {
        

        $("#" + gridId).kendoGrid({
            dataSource: {
                data: data,
            },
            height: 550,
            sortable: true,
            columns: columns,
            resizable: true,
            pageable: {pageSize: 10},
            editable:false, 
            filterable: true,
        });
        }
        link = window.location.href;
        let url = new URL(link);
        let protocol = url.protocol;
        console.log(protocol+'//'
                    + window.location.host 
                    + '/lims/listing/hrjoindate')
        var datasourcestr=protocol+'//'
                    + window.location.host 
                    + '/lims/listing/hrjoindate'

        $("#joindate").kendoGrid({
        dataSource: {
            // type: "odata",
            transport: {
                read: {
                    url: datasourcestr,
                    dataType: 'json',
                    type: 'GET'
                }
            },
            schema: {
                data: "Data",
                total: "total",
                model: {
                    id: "id",
                    fields: {
                        name: {
                            type: "string",
                        },
                        joindate: {
                            type: "string",
                            //自定义验证规则

                        },
                        

                    }
                }
            },
            pageSize: 10,

            

        },
        sortable: true,
        resizable: true,
        pageable: { numeric: true,
            previousNext: true,
            responsive: false,

        },
        toolbar: ["search"],
        search: {
            fields: ["name","joindate"]
        },
        columns: [
            {
                field: 'name',
                title: '姓名'
            },
            {
                field: 'joindate',
                title: '入职日期'
            },
           
        ],
       
    });
      
     





</script>

{% endblock %}