{% extends 'lims/base_ui.html' %}
{% block title %}发送工资条{% endblock %}
{% block content %}
<label for="datepickerstart">发送者企微ID：</label>
<input type="text" id="nameInput" value={{request.user.username}}>
<div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <h5 class="font-weight-bolder">发送工资条</h5>
                <p class="mb-5">请上传相应的工资文档，然后根据提示进行发送</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<form method="post" style="width:500px">
    <input name="files" id="fileUpload" type="file" />
</form>


<button id="sendButton">Send</button>

<script>
  message_key = ''
  name_key = ''
  yearmonth=''
  $('#fileUpload').kendoUpload(
          {
              multiple: false,
              async: {
                  'saveUrl': '/lims/hangdlesalary',
                  'autoUpload': false,
                  'batch': true 
              },
              localization: {
                  select: "导入文件进行处理",
                  uploadSelectedFiles: "确定导入",
                  uploadSuccess: "导入成功",
                  statusUploaded: "导入完成",
                  statusUploading:"导入中",
                  dropFilesHere: "将文件拖到此处导入",
                  headerStatusUploading:"处理中，请耐心等候",
                  headerStatusUploaded:"导入完成",
              },
              validation: {
                  allowedExtensions: ['CSV', 'XLS', 'XLSX'],
              },
              success: function (e) {
                  console.log(e.response.return_message)
                  alert(e.response.return_message)
                  message_key = e.response.message_key
                  name_key = e.response.name_key
                  yearmonth = e.response.yearmonth
                  var button = $("#sendButton").data("kendoButton");
                  button.enable(true);
                 
              }, 
              upload: function(e) {
                    // Get the value from the Kendo TextBox
                    var touserValue = $("#nameInput").val();
                    
                    // Add the TextBox value as a parameter to the upload request
                    e.data = {
                        touser: touserValue
                    };      
              },     
              complete: function (e) {
                this.clearAllFiles();
                console.log('complete event.');
                console.log(e)
              
                                  
              },
          }
    ); 

    $('#nameInput').kendoTextBox({
            
        });
    
    $("#sendButton").kendoButton({
        enable: false,
        click: function () {
          $.ajax({
                // async: false,
                type: 'POST',
                url: '/lims/sendtoeachuser',
                data: {
                    'message_key': message_key,
                    'name_key': name_key, 
                    'yearmonth': yearmonth,                     
                },
                dataType: "json",
                success: function (result) {
                    // alert(result)
                    if(result['isok']==0)
                    {
                        alert(result['errmsg'])
                        $("#result").html('执行失败，错误原因是：'+result['errmsg'])
                    }
                    else
                    { 
                      alert(result.return_message);
                      // window.location.href = window.location.href;
                      
                    }
                }
            });
            ;
            window.location.href = window.location.href;
        }
    })
    
   
        


</script>
{% endblock %}