{% load i18n static admin_soft %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{% url 'admin:index' %}">
      <img src="{% static 'img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">XJNY LIMS</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">

      
      
      <li class="nav-item">

              <!-- 侧边栏容器 -->
        <div id="sidebar"></div>
      </li>

   

    </ul>

  </div>
  
</aside>

<script>
  $(document).ready(function() {
     // 从后端获取功能数据
      $.getJSON("/lims/get_function_tree", function(data) {
          console.log(data)
          // 初始化 TreeView
          var treeview =$("#sidebar").kendoTreeView({
              dataSource: data, // 数据源
              loadOnDemand: false, // 禁用按需加载，以便一次性加载全部数据
              dataTextField: "name", // 显示在树节点上的字段
              dataUrlField: "link", // 链接到的页面 URL 字段
              // expandAll: true, // 将所有树节点默认展开
              // dataBound: function () {
              //   expandNodes();
            // },
          }).data("kendoTreeView");;
          treeview.expand(".k-item");
      });
      
  });
  </script>
  